body{
  text-align: center;
}

.imagenes li{
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 20px;
}

.personaje img{
  width: 150px;
  height: 200px;
}

.informacion p {
  display: none;
}

.informacion .active{
  display: block;
  font-style: italic;
}
